#heading {
	flex: 1 1 100%;
	font-size: 25px;
	font-family: "Kufam", cursive;
	width: fit-content;
	margin: 0 auto;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}

#formContainer {
	flex: 1 1 100%;
	/* padding: 10px; */
	width: 500px;
	/* margin-top: 10px; */
	/* padding: 10px; */
	padding-right: 20px;
	padding-left: 20px;
}

#loginForm {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: rgb(187, 222, 243);
	/* background-color: rgb(209, 202, 202); */
	border-radius: 10px;
	border: 1px solid black;
	/* display: flex; */
}

.loginInput {
	/* flex: 1 1 100%; */
	width: 100%;
	max-width: 300px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
	font-size: 17px;
	margin-top: 5px;
	font-family: "Kumbh Sans", sans-serif;
	outline: none;
	border: 1px solid black;
	border-radius: 5px;
	height: 20px;
	/* float: right; */
}

.loginInput:focus {
	border-color: rgb(0, 119, 255);
}

#orSpan {
	flex: 1 1 100%;
	padding-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.formGroup {
	padding-bottom: 15px;
	/* width: fit-content; */
	margin: 0 auto;
}

.formGroup:last-of-type {
	padding-bottom: 20px;
}

#facebookBtn,
#loginBtn {
	cursor: pointer;
}

#loginBtn {
	border: 1px solid blue;
	/* background-color: rgb(148, 226, 31); */
	/* border: 1px solid black; */
	padding: 7px 6px 5px;
	border-radius: 3px;
	outline: none;
	font-family: "Kumbh Sans", sans-serif;
	font-size: 17px;
	min-width: 80px;
}

#loginBtn:hover {
	opacity: 0.7;
}

#innerFormContainer {
	text-align: center;
}

.loginLabel {
	width: 100px;
	text-align: left;
	font-size: 17px;
	font-family: "Kumbh Sans", sans-serif;
}

#noAccountSpan {
	flex: 1 1 100%;
	padding-top: 20px;
}

a {
	color: rgb(8, 113, 235);
	text-decoration: none;
}

.imageInput {
	margin-left: 5px;
	width: fit-content;
}

/* 
#noDisplay {
	display: none;
} */

@media screen and (max-width: 540px) {
	.loginInput {
		margin: 0 auto;
		margin-top: 5px;
		display: block;
	}
}
