#userContainer {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	/* margin-top: 10px; */
	padding: 20px;
	background-color: rgb(187, 222, 243);
	border-radius: 10px;
	position: relative;
	border: 1px solid black;
}

#heading {
	border-bottom: 1px solid black;
	width: fit-content;
	margin: 0 auto;
	flex: 1 1 100%;
	font-size: 25px;
	font-family: "Kufam", cursive;
	margin-bottom: 10px;
}

#closeModalBtn {
	position: absolute;
	right: -10px;
	top: -10px;
	cursor: pointer;
	background-color: red;
	color: white;
	border: none;
	outline: none;
	border-radius: 10px;
	padding-bottom: 3px;
}

/* #closeModalBtn:hover {
	opacity: 0.7;
} */

/* #closeIcon {
	opacity: 0;
}

#closeIcon:hover {
	opacity: 1;
} */

.fr {
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn {
	cursor: pointer;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 3px;
	border: 1px solid black;
}

.username {
	cursor: pointer;
	color: rgb(0, 119, 255);
	background: none;
	border: none;
	outline: none;
	font-size: 20px;
	font-family: "Kumbh Sans", sans-serif;
}

.username:hover {
	text-decoration: underline;
}

.avatar {
	cursor: pointer;
	border-radius: 10px;
	margin-right: 2px;
}

.btn:hover {
	opacity: 0.7;
}

.btnContainer {
	position: absolute;
	right: 0;
}

#acceptBtn {
	color: white;
	background-color: rgb(13, 192, 13);
}

#declineBtn {
	margin-left: 5px;
	background-color: rgb(241, 11, 11);
	color: white;
}

.friend {
	color: rgb(11, 148, 11);
}
