#frContainer {
	position: relative;
	width: fit-content;
}

#frNumber {
	position: absolute;
	background-color: red;
	color: white;
	font-size: 16px;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 4px;
	z-index: 99;
	top: -8px;
	/* margin: 0 auto; */
}

#viewFrs {
	/* position: absolute;
   right: 5px;
   top: 30px; */
	cursor: pointer;
	border: none;
	background: none;
	font-family: "Kumbh Sans", sans-serif;
	font-size: 17px;
	padding-left: 20px;
	padding-right: 20px;
	outline: none;
	border-right: 1px solid black;
	border-left: 1px solid black;
	color: rgb(0, 119, 255);
}

#viewFrs:hover {
	text-decoration: underline;
}
