#profileContainer {
	/* padding-top: 10px; */
	display: inline-flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	text-align: center;
	justify-content: center;
}

#container {
	/* border: 2px solid black; */
	/* padding-top: 15px; */
	padding-bottom: 30px;
	/* width: 500px; */
	/* width: 60%; */
	max-width: 524px;
	width: 100%;
	overflow-wrap: anywhere;
	white-space: pre-wrap;
}

#profileInfo {
	/* width: fit-content;
	position: absolute;
	left: 0; */
	min-width: 120px;
	width: 20%;
}

#placeholder {
	width: 20%;
}

.btn {
	cursor: pointer;
	padding: 3px 5px;
	border: 1px solid black;
	border-radius: 3px;
	outline: none;
}

.btn:hover {
	opacity: 0.7;
}

#profileImg {
	border-radius: 20px;
}

#username {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 25px;
	font-family: "Kufam", cursive;
	overflow-wrap: break-word;
	white-space: pre-wrap;
}

.pcContainer {
	overflow-wrap: break-word;
	white-space: pre-wrap;
	margin: 0 auto;
	margin-top: 15px;
	max-width: 500px;
	padding: 20px;
	background-color: rgb(187, 222, 243);
	border-radius: 10px;
	border: 2px solid black;
}

.commentUser,
.postUser {
	color: rgb(0, 119, 255);
}

#avatar {
	border-radius: 10px;
}

.postUser {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dash {
	color: black;
}

.postTitle {
	font-size: 25px;
	/* font-weight: bold; */
}

.space {
	padding-bottom: 20px;
}

.timeSpan {
	color: black;
	font-size: 17px;
	font-family: "Kumbh Sans", sans-serif;
}

#seenAll {
	padding-top: 45px;
	padding-bottom: 15px;
}

.username {
	cursor: pointer;
	color: rgb(0, 119, 255);
	border: none;
	outline: none;
	background: none;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
	font-family: "Kumbh Sans", sans-serif;
}

#feed {
	font-weight: bold;
	font-size: 30px;
}

.emptyFeed {
	padding-bottom: 15px;
}

#postsHeading {
	font-size: 35px;
	width: fit-content;
	margin: 0 auto;
	padding-bottom: 10px;
	/* font-weight: bold; */
	font-family: "Kufam", cursive;
	color: rgb(187, 222, 243);
	text-shadow: 2px 2px 1px blue;
}

/* #reg {
	color: black;
	text-shadow: 2px 2px 2px black;
} */

#postContainer {
	align-self: center;
	width: 100%;
}

.pBody {
	font-size: 18px;
	font-family: "Kumbh Sans", sans-serif;
	padding-top: 20px;
}

/* #postsHeading {
	font-weight: bold;
	color: rgb(187, 222, 243);
	text-shadow: 2px 2px 2px blue;
} */

#profileUser {
	width: fit-content;
}

#noPosts {
	padding-top: 20px;
	font-size: 17px;
	font-family: "Kumbh Sans", sans-serif;
}

.postTitle {
	font-size: 25px;
	border-bottom: 1px solid black;
	width: fit-content;
	margin: 0 auto;
	/* font-weight: bold; */
	font-family: "Kufam", cursive;
	overflow-wrap: anywhere;
}

.kText {
	font-size: 17px;
	font-family: "Kumbh Sans", sans-serif;
}

.noAvatar {
	height: 60px;
	width: 60px;
	color: white;
	background-color: rgb(37, 37, 37);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 10px;
	/* margin-right: 2px; */
}

#noPicture {
	height: 120px;
	width: 120px;
	color: white;
	background-color: rgb(37, 37, 37);
	margin: 0 auto;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.notClickable {
	cursor: default;
	pointer-events: none;
}

@media screen and (max-width: 1000px) {
	#profileInfo {
		position: absolute;
		top: -32px;
	}
	#placeholder {
		display: none;
	}
	#container {
		width: 100%;
		padding-right: 30px;
		padding-left: 30px;
	}
	#profileContainer {
		padding-top: 220px;
		padding-bottom: 379px;
	}
}
