.likeContainer {
	/* text-align: right; */
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#likesContainer {
	position: absolute;
	right: 0;
}

.btn {
	cursor: pointer;
	margin-right: 5px;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 3px;
	border: 1px solid black;
}

.btn:hover {
	opacity: 0.7;
}

.userLiked {
	font-weight: bold;
	color: rgb(102, 161, 13);
}

.regular {
	color: black;
}

.showComments {
	float: left;
	width: 113.5px;
}

.likeUnlike {
	min-width: 60px;
}

@media screen and (max-width: 382px) {
	.likeContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		/* text-align: center; */
		position: relative;
		flex-wrap: wrap;
	}
	.btn {
		display: block;
		flex: 1 1 100%;
	}
	.btn:nth-of-type(2) {
		margin-top: 10px;
		margin-bottom: 10px;
		max-width: 200px;
	}
	.showComments {
		float: none;
		max-width: 200px;
	}
	#likesContainer {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
