#friendReqForm {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	background-color: rgb(187, 222, 243);
	border-radius: 10px;
	position: relative;
	border: 1px solid black;
}

#heading {
	flex: 1 1 100%;
	/* padding-bottom: 20px; */
	font-size: 25px;
	font-family: "Kufam", cursive;
	width: fit-content;
	margin: 0 auto;
	margin-bottom: 20px;
	border-bottom: 1px solid black;

	/* text-decoration-line: underline; */
}

.formGroup {
	padding-bottom: 15px;
	/* width: fit-content; */
	margin: 0 auto;
}

#closeModalBtn {
	position: absolute;
	right: -10px;
	top: -10px;
	cursor: pointer;
	background-color: red;
	color: white;
	border: none;
	outline: none;
	border-radius: 10px;
	padding-bottom: 3px;
}

/* #closeModalBtn:hover {
	opacity: 0.7;
} */

.btn {
	cursor: pointer;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 3px;
	border: 1px solid black;
}

.btn:hover {
	opacity: 0.7;
}

#friendReqInput {
	/* flex: 1 1 100%; */
	width: 100%;
	max-width: 300px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 5px;
	font-size: 16px;
	margin-top: 5px;
	/* float: right; */
}

#usernameLabel {
	/* font-size: 20px; */
	font-family: "Kumbh Sans", sans-serif;
	font-size: 17px;
}
