#headerContainer {
	display: flex;
	flex: 0 1 200px;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	position: relative;
	/* background-color: rgb(228, 48, 48); */
	/* font-family: "Kufam", cursive;
	color: white;
	text-shadow: 2px 2px 2px black; */
	/* opacity: 0.5; */
	/* margin-left: 20px;
    margin-right: 20px; */
	/* justify-content: center; */
	/* align-items: center; */
}

#headerContainerSmall {
	flex: 0 1 147px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	position: relative;
	padding-bottom: 52px;
	padding-top: 1px;
	font-family: "Kufam", cursive;
}

#heading {
	/* display: flex;
	  flex: 0 1 150px; */
	font-family: "Kufam", cursive;
	/* display: flex;
		flex: 0 1 150px; */
	flex: 1 1 100%;
	/* align-self: center; */
	/* align-items: center;
		justify-content: center; */
	font-size: 70px;
	color: rgb(187, 222, 243);
	text-shadow: 2px 2px 2px blue;
}

#headingSmall {
	font-family: "Kufam", cursive;
	/* flex: 1 1 100%; */
	width: fit-content;

	min-width: 372px;

	font-size: 70px;
	color: rgb(187, 222, 243);
	text-shadow: 2px 2px 2px blue;
	border-bottom: 2px solid black;
}

#subHeading {
	flex: 1 1 100%;
	/* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
	top: 105px;
	font-family: "Kumbh Sans", sans-serif;
	font-size: 15px;
}

#contentContainerSmall {
	position: relative;
	width: 100%;
	display: inline-flex;
	justify-content: center;
}

#contentContainer {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
}

.placeholder {
	display: flex;
	width: 100%;
	position: relative;
	justify-content: center;
	align-items: center;
}

/* @media screen and (max-width: 1000px) {
	#dropdownContainer {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 72px;
		width: 113px;
		border: 2px solid red;
	}
} */

@media screen and (max-width: 750px) {
	.placeholder {
		position: absolute;
		width: fit-content;
		bottom: -50px;
		right: 0;
		margin-right: 30px;
	}
}

@media screen and (max-width: 380px) {
	#headingSmall {
		min-width: 0px;
		/* font-size: 50px; */
	}
	.placeholder {
		width: 100%;
		margin: 0;
		/* min-width: 0px; */
		/* font-size: 50px; */
	}
}

/* @media screen and (max-width: 280px) {
	.placeholder {
		width: 100%;
		/* min-width: 0px; */
/* font-size: 50px; */
